<div class="subscription_checkout">
    <input type="radio" id="single" value="single" name="checkbox" data-bind='checked: CheckVals' />
    <label for="single">Single Order</label>
    <input type="radio" id="recurring" value="recurring" name="checkbox" data-bind='checked: CheckVals' style="margin-left: 20px"/>
    <label for="recurring">Recurring Order</label><br/>
</div>
<div id="recurring_form" class="recurring_form" data-bind="style: { display: isDropDownVisible() ? 'block' : 'none' }">
    <fieldset class="fieldset">
        <label for="intervals_list" class="schedule_label"> Schedule </label>
        <br/>
        <select required name="intervals_list" id="intervals_list" class="intervals_list_dropdown" data-bind="
    options: checkoutConfig.subscription_intervals,
    optionsText: 'label',
    optionsValue: 'value',
    value: selectedInterval,
    event: {change: selectedValueChanged}">
            >
        </select>
    </fieldset>
</div>
